/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
---*/

.dddhhh {
	width: 368px;
	height: 454px;
	display: block;
	background: url(../images/app2.png)no-repeat 0px 0px;
	background-size: 100%;
	/* background-image: url(../images/app2.png); */
	position: absolute;
	bottom: 0px;
	left: 60px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	
}

dfdd {
	position: absolute;
	bottom: 44px;
	left: 50%;
	margin-left:-93px;
	/*position: relative;top:80%; left:50%; 
	margin-left:-65px;*/
/*	
	margin-left: auto;
	margin-right: auto;*/
}
#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 15px 80px 15px 80px;  
    font-size:16px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
#login_click{ margin-top:32px; height:40px;}  

   #login_click a:hover { background:#b83f36; }  
   body{
	   background-image: url(../images/eee_2.jpg);}
@media (max-width:1366px){
.dddhhh {
	width: 368px;
	height: 454px;
	display: block;
	background: url(../images/app2.png)no-repeat 0px 0px;
	background-size: 100%;
	/* background-image: url(../images/app2.png); */
	position: absolute;
	bottom: 0px;
	left: 60px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	
}

}
@media (max-width:1024px){
.dddhhh {
		width: 339px;
		height: 409px;
		display: block;
		background: url(../images/app2.png) no-repeat 0px 0px;
		background-size: 100%;
		position: absolute;
	bottom: 0px;
	left: 60px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
	#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 15px 80px 15px 80px;  
    font-size:16px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
}
@media (max-width:768px){
	.dddhhh {
	width: 400px;
		height: 483px;
		display: inline-block;
	background: url(../images/app2.png) no-repeat 0px 0px;
	background-size: 100%;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 20px 120px 20px 120px;  
    font-size:25px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
	dfdd {
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left:-148px;

}
}
@media (max-width:640px){
.dddhhh {
		width: 339px;
		height: 409px;
		display: inline-block;
		background: url(../images/app2.png) no-repeat 0px 0px;
		background-size: 100%;
		position: absolute;
	bottom: 0px;
	left: 60px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
	#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 15px 80px 15px 80px;  
    font-size:16px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
	dfdd {
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left:-93px;
	/*position: relative;top:80%; left:50%; 
	margin-left:-65px;*/
/*	
	margin-left: auto;
	margin-right: auto;*/
}
}

@media (max-width:480px){
	.dddhhh {
	width: 400px;
		height: 483px;
		display: inline-block;
	background: url(../images/app2.png) no-repeat 0px 0px;
	background-size: 100%;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 20px 120px 20px 120px;  
    font-size:25px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
	dfdd {
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left:-148px;

}
}
@media (max-width:320px){
		.dddhhh {
	width: 300px;
		height: 362px;
		display: inline-block;
	background: url(../images/app2.png) no-repeat 0px 0px;
	background-size: 100%;
	position: absolute;
	bottom: 0px;
	left: 4px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	}
#login_click a   
{  
    text-decoration:none;  
    background:#fd574a;  
    color:#f2f2f2;  
      
    padding: 15px 70px 15px 70px;  
    font-size:20px;  
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;  
    font-weight:bold;  
    border-radius:3px;  
      
    -webkit-transition:all linear 0.30s;  
    -moz-transition:all linear 0.30s;  
    transition:all linear 0.30s;  
      
    }  
	dfdd {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left:-98px;

}
}

/*--A Design by W3layouts
---*/
